.mybackground {
  background-color: #fff;
}

#mydiv {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 15px;
  background-color: #b7cece;
}

#myparagraph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#myparagraph2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#myparagraph3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#mybutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#myinput {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#myinput2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#myanswer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#myreset {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
